{% load static %}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Value</th>
            {% if show_last_updated %}
            <th>Last Updated</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if stocks|length == 1 %}
        <!-- Single stock -->
        <tr>
            <td>{% include 'widgets/seepcoin_profile_pic.html' with user=stocks.0.created_by %}
                <a href="{% url 'stock_detail' stocks.0.id %}">{{ stocks.0.name }}</a></td>
            <td>{{ stocks.0.value }}</td>
            {% if show_last_updated %}
            <td>{{ stocks.0.last_updated }}</td>
            {% endif %}
        </tr>
        {% else %}
        <!-- List of stocks -->
        {% for stock in stocks %}
        <tr>
            <td>
                {% if stock.created_by %}
                    {% include 'widgets/seepcoin_profile_pic.html' with user=stock.created_by %}
                {% else %}
                    <img src="{% static 'blog/images/default_profile_pic.png' %}" class="prof-pic-dropdown seep-coin-prof-pic" alt="Default Profile Picture">
                {% endif %}
                <a href="{% url 'stock_detail' stock.id %}">{{ stock.name }}</a>
            </td>
            <td>{{ stock.value }}</td>
            {% if show_last_updated %}
            <td>{{ stock.last_updated }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
