{% extends 'template.html' %}

{% block content %}
<div class="content-large-fill mt-5">
  <h2 class="mb-4">Edit Stock</h2>
  <form method="post" class="form-group">
    {% csrf_token %}
    
    <div class="form-group" style="border: none !important">
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}
    </div>
    
    <div class="form-group" style="border: none !important">
      <label for="{{ form.color.id_for_label }}">Color:</label>
      {{ form.color }}
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Update Stock</button>
  </form>
  <a href="{% url 'stock_detail' stock.id %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %}
 