{% extends 'template.html' %}

{% block title %}{{ stock.name }} - Stock Details{% endblock %}


{% block content %}

{% include 'widgets/stock_styles.html'%}

<div class="content-large-fill">
    <a href="{% url 'stock_home'%}">↩ Stocks</a>
    <h1 class="text-center stock-detail-name">{{ stock.name }}</h1>
    
    {% include 'widgets/stock_table.html' with stocks=stock_list show_last_updated=True %}
    
    <h2 class="text-center my-4">Stock History Graph</h2>
    {% include 'widgets/stock_chart.html' with stock_data=stock_data chart_type='stock_detail'%}
</div>
{% endblock %}
