{% extends "template.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<style>
    .form-div div {
        border: none !important;

    }
    .form-div {
        border: none !important;
    }

    input {
        text-align: center;
    }

    li {
        text-align: left !important;
    }


    .helptext{
        max-width: 35rem;
        font-size: 0.7rem;
    }
</style>
<div class="content-large-fill">
    <div class="form-div">
        {% if form.errors %}
        <p>There was an error with your form...</p>
        {% endif %}
        <form action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
