{% extends "template.html" %}
{% block title %} Home Page {% endblock %}
{% load static %}
{% block content %}

<style>


    #loginFormContainer {

        z-index: 9999; /* Set a higher z-index value */

    }

    #canvas {
        border: 1px solid black;
    }

    #save {
        color: #c75f5f;
    }





    #board-controls {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        max-width: 30em;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

        #board-controls button,
        #board-controls input[type="color"],
        #board-controls input[type="range"],
        #board-controls input[type="text"],
        #board-controls input[type="number"] {
            width: 100%;
        }

        .gallery img {
            max-width: 10vw;
            max-height: 10vh;
            margin: 10px;
        }

        .gallery{
            border-bottom: none !important; 
            border-left: none !important; 
            border-right: none !important;
        }
</style>

<script src="{% static 'scripts/board.js' %}?v=2"></script>
<script>
    window.addEventListener("load", () => {
        displayGallery();
    });
</script>
<div class="content-large-fill">
    
               
    <div id="canvas-container" style="border-top: none; border-left: none; border-right: none;">
        <canvas id="canvas" width="200" ; height="150" ;></canvas>
    </div>
        <div style="position: relative; border-bottom: none; border-left: none; border-right: none;"; " id="board-controls">

        <button id="undo">Undo</button>

        <button id="clear">Clear Page</button>

        <button id="transparent-background">Transparent Background</button>

        <input type="color" id="color" value="#000000">

        <input type="color" id="background-color" value="#ffffff">

        <button id="eraser">Eraser</button>

        <button id="brush">Brush</button>

        <input type="range" id="brush-size" min="1" max="30" value="10">


        <input type="text" id="canvas-width" placeholder="Canvas width">

        <input type="number" id="canvas-height" placeholder="Canvas height">

        <button id="save">Upload Post</button>


    </div>

    <h2>Gallery</h2>
    <div id="gallery" style="border: none;"></div>

    {% for filename in data.drawings %}
        <img class="gallery-img" src="{{ settings.MEDIA_URL }}drawings/{{ filename }}" alt="Drawing">
    {% endfor %}

    <script>
        window.addEventListener("load", () => {
            displayGallery();
        });

        function displayGallery() {
            const galleryContainer = document.getElementById('gallery');

            // Fetch and display drawings here
            fetch('/get_drawings/')
                .then(response => response.json())
                .then(data => {
                    const drawings = data.drawings;

                    // Create an HTML string for the gallery content
                    let galleryHTML = '<div class="gallery">';
                    drawings.forEach(filename => {
                        galleryHTML += `<img class="gallery-img" src="media/drawings/${filename}" alt="${filename}">`;
                    });
                    galleryHTML += '</div>';

                    // Set the HTML content of the gallery container
                    galleryContainer.innerHTML = galleryHTML;
                })
                .catch(error => {
                    console.error('Error fetching drawings:', error);
                });
        }
    </script>
</div>

{% endblock %}
</html>