{% extends "template.html" %}
{% block title %} {{ food_review.name }} {% endblock %}
{% load static %}

{% block content %}
    {% if html_content %}
        {{ html_content|safe }}
    {% else %}
        <p>No content available for this food review.</p>
    {% endif %}

    <script>
        var STATIC_URL = "{% static '' %}";

        document.addEventListener("DOMContentLoaded", function() {
            // Get all image and link elements in the document
            var elements = document.querySelectorAll('img, a');

            // Iterate through each element and update the src or href attribute
            elements.forEach(function(element) {
                if (element.tagName.toLowerCase() === 'img') {
                    // For images
                    updateAttribute(element, 'src');
                } else if (element.tagName.toLowerCase() === 'a') {
                    // For links
                    updateAttribute(element, 'href');
                }
            });

            function updateAttribute(element, attribute) {
                // Get the original attribute value
                var originalValue = element.getAttribute(attribute);

                // Check if the attribute value starts with "####" (indicating a relative path)
                if (originalValue && originalValue.startsWith('####')) {
                    // Update the attribute value with the static URL
                    element.setAttribute(attribute, STATIC_URL + originalValue.substring(5)); // Remove the "####" from the original path
                }
            }
        });
    </script>
{% endblock %}
