{% extends "template.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
{% for review in food_review_list %}
    <div id="food-review-headerlinks-box">
        <p>
            <a href="{% static review.reviewlink %}" target="_top"><img class="food-review-picture" src="{% static review.reviewPhotoLink %}"></a>
            <a href="{% static review.reviewlink %}" target="_top"><p>{{ review.name }}</p></a>
        </p>
    </div>
{% endfor %}

{% endblock %}

</html>