{% extends "template.html" %}
{% block title %} Home Page {% endblock %}
{% load static %}
{% block content %}

<style>




        .gallery img {
            max-width: 20vw;
            max-height: 20vh;
            margin: 10px;
        }

        .gallery{
            border-bottom: none !important; 
            border-left: none !important; 
            border-right: none !important;
        }
</style>

<script src="{% static 'scripts/board.js' %}?v=2"></script>
<script>
    window.addEventListener("load", () => {
        displayGallery();
    });
    

</script>
<div class="content-large-fill">
    
               
   
        

    <h1 class="word-seppe" style="font-size: 2rem;">Gallery</h1>
    <div id="gallery" style="border: none;"></div>

    {% for filename in data.drawings %}
        <img class="gallery-img" src="{{ settings.MEDIA_URL }}drawings/{{ filename }}" alt="Drawing">
    {% endfor %}

    <script>
        window.addEventListener("load", () => {
            displayGallery();
        });
    
        function displayGallery() {
            const galleryContainer = document.getElementById('gallery');
    
            // Fetch and display drawings here
            fetch('/get_drawings/')
                .then(response => response.json())
                .then(data => {
                    let drawings = data.drawings;
    
                    // Sort drawings alphabetically
                    drawings = drawings.sort();
    
                    // Create an HTML string for the gallery content
                    let galleryHTML = '<div class="gallery">';
                    drawings.forEach(filename => {
                        // Add an <a> tag around each image with target="_blank"
                        galleryHTML += `<a href="media/drawings/${filename}" target="_blank"><img class="gallery-img" src="media/drawings/${filename}" alt="${filename}"></a>`;
                    });
                    galleryHTML += '</div>';
    
                    // Set the HTML content of the gallery container
                    galleryContainer.innerHTML = galleryHTML;
                })
                .catch(error => {
                    console.error('Error fetching drawings:', error);
                });
        }
    </script>
    
    
</div>

{% endblock %}
</html>