{% extends "template.html" %} {% block title %} Home Page {% endblock %}
{% load static %}
{% block content %}
<style>
   
</style>




<script>
    var STATIC_URL = "{% static '' %}";
</script>
<script src="{% static 'scripts/shufflebox-files.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="content-large">

    <!-- The Beeg Map-->
    <div class="column">
        
        <a href="https://www.beeg.fish/pages/beegfish" class="header-link" style="color: rgb(97, 111, 64); text-shadow: rgb(151, 198, 44) 5px 5px 0px; font-family: daydream;" target="_top">Beeg Fish∝</a>

        <div class="button-container">
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?background=../media/png/bf-bg-coin01.png'">Coin Flip</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=4'">D4</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=6'">D6</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=8'">D8</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=10'">D10</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=12'">D12</button>
            <button class="button" onclick="location.href='https://www.beeg.fish/pages/beegfish.html?dice=20'">D20</button>
        </div>
    </div>

    <div>
        <a href="/seepcoin" class="header-link" style="color: #0D47A1; text-shadow: 5px 5px 0px #1adb31;font-family: daydream; " target="_top">Seep Coin🪙</a>
        <!-- Display Seep Coins on a single scoreboard -->
        <div class="scoreboard-data">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="scoreboard-body">
                    {% for user in seep_coin_list %}
                        <tr>
                            <td>
                                {% if forloop.first %}
                                    1st🥇
                                {% elif forloop.counter == 2 %}
                                    2nd🥈
                                {% elif forloop.counter == 3 %}
                                    3rd🥉
                                {% else %}
                                    {{ forloop.counter }}th
                                {% endif %}
                            </td>
                            <td>
                                <p>{{ user.username }}</p>
                                <p class="user-message">{{ auser.profile.coin_message }}</p>
                            </td>
                            <td>
                                <div class="wrapper">
                                    <div style="font-size: clamp( .1em, 3vw, 2rem);" class="bg">{{user.profile.coin_count}}</div>
                                    <div style="font-size: clamp( .1em, 3vw, 2rem);"  class="fg">{{user.profile.coin_count}}</div>
                                  </div>
                            </td>
                        </tr>
                    {% endfor %}

                    
                </tbody>
            </table>
        </div>
    </div>
</div>



<div id="htmlshufflebox" style="max-width: 30vw;"></div>

<script>
    $(function () {
        var templateName = "{{ template_name }}";
        console.log("Template Name:", templateName); // Add this line to print template name to console
        $("#htmlshufflebox").load(templateName, function (response, status, xhr) {
            if (status === "error") {
                // Display an error message when the file does not exist
                $("#htmlshufflebox").load("{% static 'html-shuffle/error.html' %}");
            }
        });
    });
</script>

{% endblock %}
