<div id="item-{{ item.id }}" class="tree-item-children">
    <div class="tree-item">
        <input 
            type="checkbox" 
            data-item-id="{{ item.id }}" 
            class="toggle-item-checkbox"
            {% if item.is_done %}checked{% endif %}
        />

        <!-- Editable name -->
        <span 
            contenteditable="true" 
            data-item-id="{{ item.id }}"
            class="rename-item"
        >
            {{ item.name }}
        </span>

        <div class="tree-actions">
            <button 
                class="btn add-child-button" 
                data-parent-id="{{ item.id }}" 
                style="background:lightgreen;" 
                title="Add Child"
            >
                <span title="Add Child">➕</span>
            </button>

            <button 
                class="btn move-up-button" 
                data-item-id="{{ item.id }}" 
                title="Move Up"
            >
                <span title="Move Up">⬆️</span>
            </button>

            <button 
                class="btn move-down-button" 
                data-item-id="{{ item.id }}" 
                title="Move Down"
            >
                <span title="Move Down">⬇️</span>
            </button>

            <button 
                class="btn delete-item-button" 
                data-item-id="{{ item.id }}" 
                style="color:red;" 
                title="Delete Item"
            >
                <span title="Delete Item">🗑️</span>
            </button>
        </div>
    </div>
    <!-- Children container -->
    <div id="children-{{ item.id }}" class="tree-item-children">
        {% for child in item.children.all %}
            {% include "tree_item.html" with item=child %}
        {% endfor %}
    </div>
</div>
