{% extends "jworld/layout.html" %}

{% block body %}
<style>
    .page-content {
        position: relative;
        border: none !important;
    }
    
    .bottom-left-forms {
        position: absolute;
        bottom: 0;
        right: 10px; /* Adjust this value to your preference */
        display: flex;
        gap: 10px; /* Adjust this value to your preference */
        border: none !important;
        padding: 0px !important;
    }

    .edit-form,
    .delete-form {
        /* You can add any additional styling for the forms here */
    }
</style>
<div class="page-content">
    <div style="border: 3px ridge #92AAFC !important; border-radius: 2px; padding: 0px !important; border-top: none !important; border-left: none !important; border-right: none !important;">
        <a>{{ title }}</a>
    </div>

    {{ content | safe }}

    <div class="bottom-left-forms">
        <form action="{% url 'edit' %}" method="POST" class="edit-form">
            {% csrf_token %}
            <input type="hidden" name="entry_title" value="{{ title }}">
            <input type="submit" value="Edit" class="btn btn-danger edit-button">
        </form>
    
        <form action="{% url 'delete' %}" method="POST" class="delete-form">
            {% csrf_token %}
            <input type="hidden" name="entry_title" value="{{ title }}">
            <input type="submit" value="Delete" class="btn btn-danger delete-button">
        </form>
    </div>
</div>
{% endblock %}
