{% extends "jworld/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}


    <a style="font-family: daydream; font-size: 100%; border:none !important;">Welcome to the Jworld!</a>
    <br>
    <a style="font-family: daydream; font-size: 50%; border:none !important;">The Public Encyclopedia of Joe's World</a>
    <br>
    <a style="font-family: daydream; font-size: 50%; border:none !important;">Create or Edit any Article as you see fit.</a>



    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'entry' title=entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}


